:root {
	/* Primary */
	--soft-blue: hsla(215, 52%, 70%, 0.536);
	--cyan: hsl(178, 100%, 50%);
	/* Neutral */
	--very-dark-blue-main-BG: hsl(217, 54%, 11%);
	--very-dark-blue-card-BG: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
}

body {
	background-color: var(--very-dark-blue-main-BG);
	overflow: hidden;
	font-family: 'Outfit', sans-serif;
}

.card {
	position: relative;
	background-color: var(--very-dark-blue-card-BG);
	width: 300px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	top: 15vh;
	border-radius: 10px;
	overflow: hidden;
	font-family: 'Outfit', sans-serif;
	padding: 27px;
}

.nft-image {
	width: 300px;
	border-radius: 10px;
}

.card__nft-name {
	font-size: 20px;
}

.white-text {
	color: white;
}

.lightblue-text {
	color: var(--soft-blue);
}

.extras {
	position: relative;
}

.eth > *,
.time > * {
	display: inline-block;
}

.eth,
.time {
	width: 97px;
	display: inline-block;
}

.card__price {
	color: var(--cyan);
}

.time {
	position: absolute;
	right: 0;
}

.card__footer {
	border-top: 2px solid var(--soft-blue);
}

.card__avatar {
	position: relative;
	width: 30px;
	border-radius: 50px;
}

.creator-img > *,
.creator-descs > * {
	display: inline-block;
}

.creator-img {
	margin-top: 10px;

	display: inline-block;
}
.creator-descs {
	width: 180px;
	height: 35px;
	display: inline-block;
}

.creator-desc {
	/* display: inline; */
	margin-top: -3px;
	vertical-align: middle;
}
/* 
.line {
	position: relative;
	background-color: var(--soft-blue);
	right: -2px;
	top: -75px;
	width: 297px;
	height: 0.8px;
} */
